body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;

}
span{
    color: coral;
}
h3{
    font-size: 20px;
}
section{
    height: 500px;
    display: flex;

}
.wellcome-site{
    width: 50%;
    margin-left: 10%;

}
.wellcome-site img{
    width: 80%;
    margin-left: 0%;
}
.hire-button{
    text-decoration: none;
    color:rgb(43, 80, 112);
    font-weight: 40px;
    padding: 10px 40px;
    background-color: rgb(238, 219, 10);
    border-radius: 5px;
}
