body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;

}
span{
    color: coral;
}
h3{
    font-size: 20px;
}
section{
    height: 500px;
    display: flex;
    padding-bottom: 5%;
}
.wellcome-site{
    width: 40%;
    margin-left: 8%;

}
.wellcome-site img{
    width: 80%;
    margin-left: 0%;
}
.hire-button{
    text-decoration: none;
    color:rgb(43, 80, 112);
    font-weight: 700;
    padding: 10px 40px;
    background-color: rgb(238, 219, 10);
    border-radius: 5px;
}
.onek-shoopno{
    font-size: 50px;

}
.resume-button{
    text-decoration: none;
    background-color: cyan;
    color: rgb(21, 23, 20);
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.noob{
    color: chartreuse;
}
.debeloper{
    color: rgba(233, 250, 40, 0.74);
}
.barti-color{
    padding: 10px;
    background-color: blanchedalmond;
    border-radius: 30px;
    box-shadow: 10px 10px 50px rgb(13, 226, 215);
}
.arek-kam{
    padding: 10px;;
    background-color: blanchedalmond;
    border-radius: 30px;
    box-shadow: 10px 10px 20px rgb(0, 247, 255);
    
}
